rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /produtos/{id} {
      allow read: if true;
      allow write: if request.auth != null
        && request.auth.uid == 'krdjP8prMzf2IxpeT9juOUnA0xN2';
    }

    match /colecoes/{id} {
      allow read: if true;
      allow write: if request.auth != null
        && request.auth.uid == 'krdjP8prMzf2IxpeT9juOUnA0xN2';
    }

    match /configuracoes/{id} {
      allow read: if true;
      allow write: if request.auth != null
        && request.auth.uid == 'krdjP8prMzf2IxpeT9juOUnA0xN2';
    }

    match /categorias/{id} {
      allow read: if true;
      allow write: if request.auth != null
        && request.auth.uid == 'krdjP8prMzf2IxpeT9juOUnA0xN2';
    }

  }
}
